* {
    background-color: black;
    color: #00FF41;
    font-family: 'Source Code Pro', monospace;
}

body {
    padding: 5%;
}

input {
    border-color: #00FF41;
    font-family: 'Source Code Pro', monospace;
    margin-left: none;
    margin-top: 10px;
}

.texto__button {
    margin-top: 15px;
}

button {
    border: dashed;
    color: #00FF41;
    margin-top: 11px;
    margin-right: 10px;
    padding: 5px;
}

#new-page-button {
    color: purple;
    border: solid;
    border-radius: 3px;
    padding: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}